@{
    ViewBag.Title = "Start";
    var jaar = 0;
    if (@ViewBag.Jaar != null)
    {
        jaar = @ViewBag.Jaar;
    }
    else if (Request.Cookies["jaar"] != null)
    {
        jaar = int.Parse(Request.Cookies["jaar"].Value);
    }
}

<div class="col-md-12 align-center mainContent">
    <h1 class="styledTitle">
        Welkom bij Geo<b>4</b>Students
    </h1>
    <div class="col-md-8 col-md-offset-2">
        <hr />
    </div>
    <div class="col-md-10 col-md-offset-1 text-left">
        <p>
            Deze website is bedoeld om je te trainen in het <b>determineren van het klimaattype en vegetatietype</b> van een bepaalde locatie
            aan de hand van een klimatogram en determinatietabel.
        </p>
        <p>
            Op dit platform kan je navigeren door gebruik te maken van de navigatiebalk links op het scherm. Door op het pijltje <i class="fa fa-caret-square-o-left orangeIcon"></i> te klikken naast het logo
            kan je deze <b>navigatiebalk inklappen</b> zodat je meer beschikbare ruimte hebt op je scherm. Analoog kan je zo weer de navigatiebalk uitklappen.
            Doordat je hier bent wilt dat zeggen dat je reeds een leerjaar hebt gekozen, wil je je <b>jaarkeuze toch wijzigen</b> kan dat door op <i class="fa fa-exchange orangeIcon"></i> te klikken
            onder het logo.
        </p>
        <br/>
        <div class="row text-left">
            <p>
                <i class="fa fa-file-text-o fa-4x greenIcon pull-left"></i>
                Bij "<b>Oefening 1<sup>ste</sup> Graad</b>" ga je aan de slag met een klimatogram waarbij je acht vragen oplost. Na het oplossen van de vragen
                krijg je dan een determinatietabel ter beschikking. Gewapend met het klimatogram, de vragen en de tabel kan je dan het juiste klimaattype
                proberen te achterhalen.
            </p>
        </div>
        <br/>
        @if (jaar > 2)
        {
            <div class="row text-left">
                <p>
                    <i class="fa fa-sitemap fa-4x yellowIcon pull-right"></i>
                    Bij "<b>Oefening 2<sup>de</sup> Graad</b>" ga je direct aan de slag met een klimatogram en determinatietabel. Aan de hand daarvan dien je het klimaattype te bepalen. Je moet ook nog het vegetatietype vinden maar wees gerust, je krijgt een
                    lijst met mogelijk antwoorden. Als 3<sup>de</sup> jaars student krijg je ook nog een foto te zien van de vegetatie om je te helpen.
                </p>
                    
            </div>
            <br/>
        }
        @if (jaar > 4)
        {
            <div class="row text-left">
                <p>
                    <i class="fa fa-globe fa-4x purpleIcon pull-left"></i>
                    Voor de leerlingen uit de derde graad is er dan "<b>Oefening 3<sup>de</sup> Graad</b>". Je krijgt een wereldkaart te zien met daarop aangeduid
                    zes locaties. Ook krijg je zes klimatogrammen te zien en de bedoeling is dan dat je deze koppelt aan de juiste locatie. Hierna moet je ook voor elke locatie het vegetatietype bepalen, eventueel
                    kan je dan de hulp van een determinatietabel inroepen.
                </p>
            </div>
        }
        <h2 class="styledTitle text-center">Veel succes!</h2>
    </div>
</div>
<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/HomeStart.js"></script>