@model Geo4Students.ViewModels.VegetatieViewModel

<div class="row">
    <div class="col-md-8 col-md-offset-2" id="vegetatieHulp">
        @Html.Partial("_Vegetatie", Model)
    </div>
</div>
<br />

@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "vegetatieForm"}))
{
    <div class="form-group">
        <p>Kies uit onderstaande lijst het vegetatietype dat hoort bij het gevonden klimaat.</p>
        <select id="vegetatieKenmerken">
            <option value="null">selecteer vegetatiekenmerk</option>
            @foreach (var resultaat in Model.Resultaten)
            {
                <option value="@resultaat.VegetatieKenmerk">@resultaat.VegetatieKenmerk</option>
            }
        </select>
    </div>
    <div class="alert col-md-8 col-md-offset-2 row">
        <div id="message"></div>
        <div>
            <a href='' id='toggleHulp'>Hulp nodig? <span class="glyphicon glyphicon-question-sign glow" style="color: #000;"></span></a>
        </div>
    </div>
    <div class="form-group col-md-8 col-md-offset-2">
        <input type="submit" value="Bevestig" id="vegetatieSubmit"/>
    </div>
    
}

<script>
    $(document).ready(function() {
        $("#message").hide();
        $("#vegetatieHulp").hide();
        $("#toggleHulp").hide();

        var foto = false;

        $("#toggleHulp").click(function (e) {
            e.preventDefault();
            $("#vegetatieHulp").show();
            $("#toggleHulp").hide();
            foto = true;
        });

        $("#vegetatieForm").submit(function(e) {
            var juist = "@Model.DeterminatieResultaat.VegetatieKenmerk";
            if ($("#vegetatieKenmerken").val() === juist) {
                $.ajax({
                    url: 'ShowGoedeAntwoord',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    data: { klimatogramId: globalKlimatogramId },
                    dataType: 'html'
                }).success(function(result) {
                    $('#goedeAntwoord').html(result);
                });
                //$("#proficiat").show();

                $("#vegetatieKenmerken").prop("disabled", true);
                $("#message").hide();
                $("#vegetatieSubmit").hide();
                slideUpCustom($(".toggleButton"));
                return false;
            }
            if ($("#vegetatieKenmerken").val() !== juist) {
                $("#message").show();
                $("#message").html("Woeps, niet juist. Probeer nog een keer.");
                if(foto === false){
                    $("#toggleHulp").show();
                }
                return false;
            }
        });
    });
</script>

